<a href="https://colab.research.google.com/github/LuisaRodriguezC/Clase-1/blob/main/04_DS_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Ds and Pandas**

It is the excel of python.

In [1]:
# Libraries 

import numpy as np
import pandas as pd

# **2. Series**

A *Series* is a one dimensional object.

## 2.1. Series Creation

In [2]:
# Empty Series 

s_empty = pd.Series()
print (s_empty)

Series([], dtype: float64)

<ipython-input-2-6c7e81fb5152>:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s_empty = pd.Series()

In [6]:
# Create a series by typing values 

s_int = pd. Series([1,2,3,4,5,6,7,8,9])
print(s_int)

s_int = pd. Series(['Nicolas', 'Luisa', 'Jose'])
print(s_int)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0    Nicolas
1      Luisa
2       Jose
dtype: object

In [8]:
# Create a series 

s_rand = pd.Series(np.random.rand(10))
print(s_rand)

0    0.876668
1    0.511394
2    0.555666
3    0.802944
4    0.650942
5    0.329359
6    0.282765
7    0.999979
8    0.797894
9    0.398282
dtype: float64

## 2.2. Indexing

In [9]:
# Check the index of a Series

s_rand.index

RangeIndex(start=0, stop=10, step=1)

In [11]:
# Create your own index

new_index = ['A', 'B', 'C']
s_str3 = s_int.set_axis(new_index)
print(s_str3)

A    Nicolas
B      Luisa
C       Jose
dtype: object

## 2.3. Select and Slice

In [15]:
# Simple Selection 

s_str3['B']
s_str3[1]

'Luisa'

In [17]:
# Select different elements 

s_rand[[3,8]]

3    0.802944
8    0.797894
dtype: float64

In [18]:
# Another way

s_rand[:3]

0    0.876668
1    0.511394
2    0.555666
dtype: float64