<a href="https://colab.research.google.com/github/LuisaRodriguezC/Clase-1/blob/main/Conceptos_basicos_de_payton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion 

Here, in this file, we are going to "code"
We are going to understand python, how it works, and some tricks

# 1. What is python?

It was created in 1991 and it is a **general-purposue progaming language**

This means that python is used for:
*Data analysis 
*Automating task
*Machinne learning
*Data Visualization 
*Optimazation 
*Web development 
*User interfaces creation 
*Create another sofware
*Create video games 

The world runs on python, C++, Java and HTLM / CSS, and R?

# 2. Why python?

The main reasons: 

* It is simple 

* Focus 

* Easy to learn 

* Open - source: it is free

* Cross-platforn

* Extensive libraries

# 3. Getting Started

## 3.1 Python as a calculator

In [ ]:
# Addition 
2 + 2

4

In [ ]:
# Subtraction 
23-7

16

In [ ]:
# Multiplication 
13*7

91

In [ ]:
# Division 
10/3

3.3333333333333335

In [ ]:
# Interger Division 
10//3

3

In [1]:
# Exponential
2**3

8

## 3.2. Composite operations and parenthesis

Operator precedence

In [2]:
# Example 
2 + 3*4

14

You can change the operator precedence using **parenthesis**

In [3]:
# Example 
(2 + 3)*4

20

## 3.3. Integers and Real Numbers

In [4]:
# Interger (with no decimal positions)
type(26)

int

In [5]:
# Real numeber (whith decimal positions)
type(26.0)

float

In [6]:
# Examples 
# Find out if the next expressions are int or floats
2 + 3.0
2.5*7
4.0/2

2.0

In [9]:
type(2 + 3.0)

float

# Scientific notation

In [10]:
# Example 
5e1

50.0

In [11]:
6e-2

0.06

In [ ]:
# Practice 
# Write 1 millon in scientific notation 
# What is the result of 3e0.2

In [12]:
# Write 1 millon in scientific notation 
1e6

1000000.0

In [15]:
# What is the result of 3e02
3e0.2

SyntaxError: ignored

### Transformation 
You can change the type() of a number. Or you can force a type () of a number.

In [17]:
# Example 
float (6)

6.0

In [18]:
# Example }
int (3.3333)

3