<a href="https://colab.research.google.com/github/LuisaRodriguezC/Clase-1/blob/main/Copia_de_Conceptos_basicos_de_payton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion 

Here, in this file, we are going to "code"
We are going to understand python, how it works, and some tricks

# 1. What is python?

It was created in 1991 and it is a **general-purposue progaming language**

This means that python is used for:
*Data analysis 
*Automating task
*Machinne learning
*Data Visualization 
*Optimazation 
*Web development 
*User interfaces creation 
*Create another sofware
*Create video games 

The world runs on python, C++, Java and HTLM / CSS, and R?

# 2. Why python?

The main reasons: 

* It is simple 

* Focus 

* Easy to learn 

* Open - source: it is free

* Cross-platforn

* Extensive libraries

# 3. Getting Started

## 3.1 Python as a calculator

In [ ]:
# Addition 
2 + 2

4

In [ ]:
# Subtraction 
23-7

16

In [ ]:
# Multiplication 
13*7

91

In [ ]:
# Division 
10/3

3.3333333333333335

In [ ]:
# Interger Division 
10//3

3

In [ ]:
# Exponential
2**3

8

## 3.2. Composite operations and parenthesis

Operator precedence

In [ ]:
# Example 
2 + 3*4

14

You can change the operator precedence using **parenthesis**

In [ ]:
# Example 
(2 + 3)*4

20

## 3.3. Integers and Real Numbers

In [ ]:
# Interger (with no decimal positions)
type(26)

int

In [ ]:
# Real numeber (whith decimal positions)
type(26.0)

float

In [ ]:
# Examples 
# Find out if the next expressions are int or floats
2 + 3.0
2.5*7
4.0/2

2.0

In [ ]:
type(2 + 3.0)

float

# Scientific notation

In [ ]:
# Example 
5e1

50.0

In [ ]:
6e-2

0.06

In [ ]:
# Practice 
# Write 1 millon in scientific notation 
# What is the result of 3e0.2

In [ ]:
# Write 1 millon in scientific notation 
1e6

1000000.0

In [ ]:
# What is the result of 3e02
3e0.2

SyntaxError: ignored

### Transformation 
You can change the type() of a number. Or you can force a type () of a number.

In [ ]:
# Example 
float (6)

6.0

In [ ]:
# Example }
int (3.3333)

3

# 3.4 Basic and useful functions

Functions let us do things more efficiently

**Print**

In [6]:
# Example with numbers

print(2023)
print(2024)
print(22,2,2022)

2023
2024
22 2 2022

In [8]:
# Example - hard version

for i in range(0,11): print(i)

0
1
2
3
4
5
6
7
8
9
10

In [11]:
# Example - with text

print('hello world')
print ('First Name: Luisa','Second Name: Rodriguez')
print ('First Name: Luisa','\tSecond Name: Rodriguez')
print ('First Name: Luisa','\nSecond Name: Rodriguez')

hello world
First Name: Luisa Second Name: Rodriguez
First Name: Luisa 	Second Name: Rodriguez
First Name: Luisa
Second Name: Rodriguez

In [12]:
# Example - test and numbers

print('my luckynumber is:', 21)

my luckynumber is: 21

### **Round**

it will tle us to control the decimal positions.

In [13]:
# Example 
# Consider 8.53214794
# LetÂ´s use round

round(8.53214794,0)

9.0

In [14]:
# Ejemplo
print('the rounded number of 8.5321 is:', 9)

the rounded number of 8.5321 is: 9

In [17]:
print('the approximation of', 8.53214794,'with', 0, 'decimal is:', round(8.53214794,0))
print('the approximation of', 8.53214794,'with', 1, 'decimal is:', round(8.53214794,1))

the approximation of 8.53214794 with 0 decimal is: 9.0
the approximation of 8.53214794 with 1 decimal is: 8.5

In [18]:
print('the approximation of', 8.53214794,'with:')
print(0, 'decimal is:', round(8.53214794,0))
print(1, 'decimal is:', round(8.53214794,1))

the approximation of 8.53214794 with:
0 decimal is: 9.0
1 decimal is: 8.5

In [30]:
print('the approximation of', 8.53214794,'with:')
print('Decimal','result')
print(0, '\t', round(8.53214794,0))
print(1, '\t', round(8.53214794,1))
print(2, '\t', round(8.53214794,2))
print(3, '\t', round(8.53214794,3))
print(4, '\t', round(8.53214794,4))
print(5, '\t', round(8.53214794,5))
print(6, '\t', round(8.53214794,6))
print(7, '\t', round(8.53214794,7))

the approximation of 8.53214794 with:
Decimal result
0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532
4 	 8.5321
5 	 8.53215
6 	 8.532148
7 	 8.5321479

In [46]:
print('the approximation of', 8.53214794,'with:')
print('Decimal','result')
for i in range (0,8): 
  print(i,'\t', round(8.53214794,i))

the approximation of 8.53214794 with:
Decimal result
0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532
4 	 8.5321
5 	 8.53215
6 	 8.532148
7 	 8.5321479

In [55]:
print('multiples of', 2,'with:')
for i in range (1,101): 
    print(i,(2*i))

multiples of 2 with:
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18
10 20
11 22
12 24
13 26
14 28
15 30
16 32
17 34
18 36
19 38
20 40
21 42
22 44
23 46
24 48
25 50
26 52
27 54
28 56
29 58
30 60
31 62
32 64
33 66
34 68
35 70
36 72
37 74
38 76
39 78
40 80
41 82
42 84
43 86
44 88
45 90
46 92
47 94
48 96
49 98
50 100
51 102
52 104
53 106
54 108
55 110
56 112
57 114
58 116
59 118
60 120
61 122
62 124
63 126
64 128
65 130
66 132
67 134
68 136
69 138
70 140
71 142
72 144
73 146
74 148
75 150
76 152
77 154
78 156
79 158
80 160
81 162
82 164
83 166
84 168
85 170
86 172
87 174
88 176
89 178
90 180
91 182
92 184
93 186
94 188
95 190
96 192
97 194
98 196
99 198
100 200